.sidebar{
  position: fixed;
}
.spark{

     text-transform:capitalize;
     font-family: 'Roboto', sans-serif;
    font-size:25px;
    font-weight: bold; 
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 1px 0 0 gold, 1px 1px 0 gold, 0 1px 0 gold, -1px 1px 0 gold, -1px 0 0 gold, -1px -1px 0 gold, 0 -1px 0 gold, 1px -1px 0 gold;
}

.tube{
    font-family: 'Roboto', sans-serif;
    text-transform:capitalize;
    font-size:25px;
    font-weight: bold; 
    text-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 1px 0 white, -1px 0 0 white, -1px -1px 0 white, 0 -1px 0 white, 1px -1px 0 white;

}

.black{
  height: 3px;
  width: 10px;
  background-color: black;
}